


<div class="face-snap-card">
    
   <h2>{{ faceSnap.title | uppercase }}</h2>


    <p><b>Publié : </b>{{ faceSnap.createdDate| date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <p>{{ faceSnap.description}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p><b>Auteur de l'article : </b>{{ faceSnap.author }}</p>
    
        <div class="card-footer"> <b>Commentaires:</b>
            <div *ngFor="let comment of faceSnap.comment">
                <p>{{comment}}</p>
            </div>
   
    <button routerLink="/facesnaps">Retour vers tous les articles </button>  
</div>
</div>
<div class="card">
<app-new-comment></app-new-comment>
</div>