
 <div class="form-card">
    <h2>Ajouter un article</h2>
    <form  [formGroup]="snapForm" novalidate>   
        <div class="form-group">
            <label for="title">Titre</label>
            <input class="form-control" id="title" type="text" formControlName="titre">
            <div class="alert alert-danger" *ngIf="snapForm.touched && !snapForm.valid"> Entrez un titre</div>
        </div>
       
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" type="text" formControlName="contenu" rows="4">
            </textarea>
            <div class="alert alert-danger" *ngIf="snapForm.touched && !snapForm.valid"> Entrez une description</div>
        </div>
        <div class="form-group">
            <label for="title">Auteur</label>
            <input class="form-control" id="title" type="text" formControlName="auteur">
        </div>
        <div class="form-group">
            <label for="title">Date</label>
            <input class="form-control" id="title" type="date" formControlName="dateDePublication">
        </div>
        <div class="action-buttons">
            <button class="btn btn-secondary" type="submit" (click)="onSubmitForm()" [disabled]="snapForm.invalid">Enregistrer</button>
        </div>
    </form>
</div> 


 <div class="face-snap-card" *ngIf="faceSnapPreview$ | async as faceSnap">
    <h2>{{ faceSnap.titre | uppercase }}</h2>
    <p><b>Publié : </b>{{ faceSnap.dateDePublication }}</p>
    <p>{{ faceSnap.contenu}}</p>
   
    <p> <b> Auteur de l'article : </b>{{ faceSnap.auteur }}</p>
</div>